.darkInput {
    font-size: 13px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 0px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    display: block;
    height: 30px;
}

/* ! secondaty style--------------------------- */
/*? primary */
.darkInput.primary {
    background: rgb(109, 109, 109);
    color: rgb(216, 216, 216);
}

.darkInput.primary:hover {
    border-color: #7b7b7b;
}

.darkInput.primary:focus {
    border-color: #9147ff;
    background: #4d4d4d;
}

/*? secondary */
.darkInput.secondary {
    background: transparent;
    color: rgb(224, 224, 224);
    border: none;
    border-bottom: 2px solid rgba(216, 216, 216, 0.438);
    border-radius: 0;
}

.darkInput.secondary:hover {
    outline: none;
}

.darkInput.secondary:focus {
    outline: none;
    border-color: #9147ff;
}

/*? alert */
.darkInput.alert {
    border: 2px solid black;
    background: #a30a0a;
    color: rgb(223, 223, 223);
}

.darkInput.alert:hover {
    border-color: #b80000;
}

.darkInput.alert:focus {
    outline: none;
    border: 2px solid red;
}