.lightInput {
    font-size: 12px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 0px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    display: block;
    height: 30px;
}

/* ! secondaty style--------------------------- */
/*? primary */
.lightInput.primary {
    background: rgb(230, 230, 230);
    color: rgb(14, 14, 16);
}

.lightInput.primary:hover {
    border-color: #7b7b7b;
}

.lightInput.primary:focus {
    border-color: #9147ff;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(168,0,190,0.75);

}

/*? secondary */
.lightInput.secondary {
    background: transparent;
    color: rgb(14, 14, 16);
    border: none;
    border-bottom: 2px solid rgb(126, 126, 126);
    border-radius: 0;
}

.lightInput.secondary:hover {
    outline: none;
}

.lightInput.secondary:focus {
    outline: none;
    border-color: rgb(168, 0, 190);
}

/*? alert */
.lightInput.alert {
    background: #f3caca;
    color: rgb(0, 0, 0);
}

.lightInput.alert:hover {
    border-color: #b80000;
}

.lightInput.alert:focus {
    outline: none;
    border: 2px solid red;
}