.darkButton {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #757575 0, #545455 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 28px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
  }
  
  .darkButton:focus {
    box-shadow: #696969 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #666666 0 -3px 0 inset;
  }
  
  .darkButton:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #4d4d4d 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .darkButton:active {
    box-shadow: #cacaca 0 3px 7px inset;
    transform: translateY(2px);
  }

/* ! secondaty style--------------------------- */
/*? primary */
  .darkButton.primary{
    background-image: radial-gradient(100% 100% at 100% 0, #969696  0, #4106cc 100%);
  }
  
/*? secondary */
  .darkButton.secondary{
    background-image: radial-gradient(100% 100% at 100% 0, #0a0c8b 0, rgb(70, 70, 250) 100%);
  }
  
/*? alert */
  .darkButton.alert{
    background-image: radial-gradient(100% 100% at 100% 0, #c03d3d 0, rgb(185, 0, 0) 100%);
  }